# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/
*.log

# Streamlit
.streamlit/secrets.toml
.streamlit/*.json

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# LangGraph cache or temp files (if any)
*.cache

# database
*.db